.container {
    max-width: 1120px;
    margin: 0 auto;
}
.catalog-img{
    width:1120px;
    height: 672px;
    border: 1px solid pink;
}
.catalog-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}
